# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
